.products-container {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0rem;
}

.products-Box1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2rem;
}

.products-Box1-div {
  width: 40%;
  display: flex;
  gap: 1rem;
  position: relative;
}

.products-alignLabels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6f7ff;
  padding: 0px 1rem;
}

.products-labels {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: left;
  color: #3d5a80;
}
